# Regresión Lineal PIBEcuador
Realizado por: Tatiana Cárdenas Jho

In [30]:
#Problema:
#Analizar con el gasto y el COVID-19 dentro del Ecuador y realizar un análisis con respecto a la actualidad
#y cambio de gobierno del país.

#Importación de librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import csv
import requests
import io
from datetime import datetime,timedelta
from sklearn.metrics import mean_squared_error
from scipy.optimize import curve_fit
from scipy.optimize import fsolve
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
import matplotlib.pyplot as plt 
print('Importadas')

pd.options.display.float_format='{:,.2f}'.format
import warnings
warnings.simplefilter("ignore")

Importadas

In [47]:
#Carga de datos

#Variables
#dataset = pd.read_csv('ec.csvPIB')
#print(dataset.head())

df=pd.read_csv('pibEC.csv',encoding='utf-8')
print(df.shape)
df=df.fillna(0)
df.sample(5)

(264, 64)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
241,Túnez,TUN,Exportaciones de bienes y servicios (% del PIB),NE.EXP.GNFS.ZS,0.00,0.00,0.00,0.00,0.00,19.05,...,49.50,48.53,48.55,46.97,44.92,40.08,40.03,43.82,48.29,49.30
100,Sólo BIRF,IBD,Exportaciones de bienes y servicios (% del PIB),NE.EXP.GNFS.ZS,9.25,9.11,8.21,9.10,8.65,8.45,...,28.21,28.90,28.20,27.50,26.71,25.70,24.85,25.59,27.00,26.01
86,Guinea Ecuatorial,GNQ,Exportaciones de bienes y servicios (% del PIB),NE.EXP.GNFS.ZS,0.00,0.00,0.00,0.00,0.00,0.00,...,85.76,75.10,71.90,67.65,65.96,56.66,51.41,58.86,58.81,55.13
95,Honduras,HND,Exportaciones de bienes y servicios (% del PIB),NE.EXP.GNFS.ZS,21.39,22.32,22.49,22.09,22.47,27.27,...,45.76,51.26,50.90,47.94,47.56,45.17,42.71,43.58,41.76,40.25
170,Nueva Caledonia,NCL,Exportaciones de bienes y servicios (% del PIB),NE.EXP.GNFS.ZS,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [48]:
df.describe().round(3)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,264.00,264.00,264.00,264.00,264.00,264.00,264.00,264.00,264.00,264.00,...,264.00,264.00,264.00,264.00,264.00,264.00,264.00,264.00,264.00,264.00
mean,6.20,6.61,6.46,6.75,6.86,7.46,7.75,7.80,8.32,8.51,...,36.05,38.85,37.80,37.56,37.44,35.46,34.30,35.49,35.55,30.42
std,14.05,14.07,13.76,14.20,13.59,14.23,14.57,14.41,15.73,16.14,...,32.40,35.12,30.50,31.35,31.11,31.44,30.36,31.28,31.21,29.82
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,19.83,21.63,21.93,20.35,20.75,18.82,18.09,18.28,18.55,7.87
50%,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,30.19,31.83,31.58,30.35,31.27,29.43,28.43,29.57,30.30,26.20
75%,9.30,9.70,9.28,9.26,10.06,10.98,11.28,11.25,11.78,12.65,...,46.76,50.84,50.42,48.12,47.30,45.29,44.55,45.94,47.11,40.72
max,162.83,142.42,138.12,141.15,122.08,123.24,123.28,114.29,125.66,132.13,...,298.34,339.02,215.85,221.61,213.09,221.20,213.04,217.62,211.56,208.75

ValueError: Length mismatch: Expected axis has 64 elements, new values have 264 elements